.dropzone {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: 2px dashed #cccccc;
  padding: 20px;
  text-align: center;
  height: 300px;
  background-color: #cccccc;
}
.dropzone:hover{
    cursor: pointer;
}
.uploaded-content {
  border: 1px solid #cccccc;
  padding: 10px;
  white-space: pre-line; /* Preserve line breaks in text content */
}
